[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]
black = "==24.1.1"
boto3-stubs = "*"
coveralls = "*"
Django = "<4"
django-stubs = "*"
flake8 = "==7.0.0"
Flask = "*"
isort = "==5.13.2"
mock = "*"
mypy = "==1.8.0"
packaging = "*"
pre-commit = "*"
pytest = "*"
pytest-cov = "*"

[packages]
argcomplete = "*"
boto3 = ">=1.17.28"
durationpy = "*"
hjson = "*"
jmespath = "*"
kappa = "==0.6.0"
pip = ">=9.0.1"
# Workaround until tests are updated to work with 'placebo' 0.10
# Move to 'dev-packages' when unpinned
placebo = "<0.10"
python-dateutil = "*"
python-slugify = "*"
PyYAML = "*"
# previous versions don't work with urllib3 1.24
requests = ">=2.20.0"
toml = "*"
tqdm = "*"
troposphere = ">=3.0"
Werkzeug = "*"
wheel = "*"

[pipenv]
allow_prereleases = false
