[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]
black = "==24.8.0"
boto3-stubs = "*"
coveralls = "*"
django = ">=4.2,<6"
django-stubs = "*"
flake8 = "==7.0.0"
Flask = "*"
isort = "==5.13.2"
mock = "*"
mypy = "==1.8.0"
packaging = "*"
pre-commit = "*"
pytest = "*"
pytest-cov = "*"
legacy-cgi = "*"

[packages]
argcomplete = "*"
boto3 = ">=1.17.28"
durationpy = "*"
hjson = "*"
jmespath = "*"
kappa = "==0.6.0"
pip = ">=24.0.0"
placebo = "<0.10"
python-dateutil = "*"
python-slugify = "*"
PyYAML = "*"
requests = ">=2.32.0"
toml = "*"
tqdm = ">=4.66.3"
troposphere = ">=3.0"
Werkzeug = "*"
wheel = "*"
setuptools = "<80.0.0"

[pipenv]
allow_prereleases = false
